body {
    text-align: center;
    color: #27293D;
}

h1 {
    font-size: 50px;
    color: #27293D;
}


/* HERO */
.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero p {
    margin-top: 15px;
}


/* BOOK COVERS */
.book-cover {
    display: block;
    width: 140px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto 20px;
}


/* NAVIGATION */
nav {
    margin-top: 30px;
    margin-bottom: 20px;
}


/* BOOTSTRAP CARD OVERRIDES */
.card {
    border: 2px solid #446E8F;
    border-radius: 10px;
    color: #27293D;
}

.card h2 {
    font-family: Georgia, serif;
    color: #27293D;
}

.book-card h2 {
    font-size: 24px;
}


/* DASHBOARD BUTTONS */
.btn-primary {
    background-color: white;
    color: #446E8F;
    border: 2px solid #446E8F;
}

.btn-outline-danger {
    border: 1px solid #dc3545;
    padding: 7px 13px;
}

.btn-primary:hover {
    background-color: #446E8F;
    color: white;
    border-color: #446E8F;
}


/* NAVIGATION BUTTONS */
.btn-outline-primary {
    color: #446E8F;
    border-color: #446E8F;
}

.btn-outline-primary:hover {
    background-color: #446E8F;
    border-color: #446E8F;
    color: white;
}

/* BOOK SEARCH */
.book-search-label.text-left {
    display: block;
    text-align: left;
}

/* BOOK DETAILS */
.form-check .form-check-input:hover {
    border-color: #0d6efd;
    /* Bootstrap primary color */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}